* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
html {
  color: rgb(231, 228, 228);
  font-family: sans-serif;
  font-size: clamp(14px, 1vw, 50px);
}
section {
  max-width: 1600px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  section#view1 {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      border-radius: 0.5rem;
      background-color: rgb(30, 30, 30);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5rem 1.8rem;
      gap: 3.5rem;
      .text {
        h2 {
          font-weight: 200;
          font-size: 2.5rem;
        }
        p {
          color: grey;
          font-size: 1.2rem;
          line-height: 1.8rem;
          padding: 1.5rem 0rem;
        }
        button {
          font-size: 0.8rem;
          border: none;
          background-color: #cebd63;
          padding: 0.6rem 1rem;
          border-radius: 2rem;
        }
      }
    }
    .bottom > p,
    h2,
    button {
      text-transform: uppercase;
    }
  }
  section#view2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    .top,
    .bottom {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 2rem;
      p {
        font-size: 1rem;
      }
      h2 {
        font-size: 2rem;
      }
      p,
      h2 {
        padding: 0.2rem;
      }
    }
  }
  section#view3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      border-radius: 0.5rem;
      background-color: rgb(30, 30, 30);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5rem 1.8rem;
      gap: 3.5rem;
      .text {
        h2 {
          font-weight: 200;
          font-size: 2rem;
        }
        p {
          color: grey;
          font-size: 1rem;
          line-height: 1.7rem;
          padding-top: 1.5rem;
        }
      }
    }
    .bottom > p,
    h2 {
      text-transform: uppercase;
    }
  }
  section#view4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.2rem 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      border-radius: 0.5rem;
      background-color: rgb(30, 30, 30);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 2.5rem 1.8rem;
      gap: 3.5rem;
      .text {
        h2 {
          font-weight: 200;
          font-size: 2rem;
        }
        p {
          color: grey;
          font-size: 1rem;
          line-height: 1.7rem;
          padding-top: 1.5rem;
        }
      }
    }
    .bottom > p,
    h2 {
      text-transform: uppercase;
    }
  }
  section#image-cards {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .img-section {
      width: 100%;
      border-radius: 0.5rem;
      aspect-ratio: 1/1;
      background-size: cover;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        font-size: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        i {
          background: rgba(95, 95, 95, 0.306); /* translucent layer */
          backdrop-filter: blur(10px); /* glass-like blur effect */
          padding: 0.5rem;
          border: 0.5px solid rgba(194, 194, 194, 0.314);
          border-radius: 50%;
        }
      }

      .bottom {
        /* background “plate” effect */
        background: rgba(95, 95, 95, 0.306); /* translucent layer */
        backdrop-filter: blur(10px); /* glass-like blur effect */
        padding: 1rem;
        display: flex;
        border-radius: 0.3rem;
        border: 0.5px solid rgba(194, 194, 194, 0.314);
        align-items: center;
        justify-content: space-between;
      }
    }
    .imgsection1 {
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-1080.webp");
    }
    .imgsection2 {
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-800.webp");
    }
    .imgsection3 {
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-800.webp");
    }
  }
  section#view5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0rem 1rem;
    margin: 1rem 0rem;
    text-transform: uppercase;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .bottom {
      border-radius: 0.5rem;
      background-color: rgb(30, 30, 30);
      display: flex;
      flex-direction: column;
      padding: 1rem 1.8rem;
      gap: 4rem;

      .text {
        h2 {
          font-weight: 200;
          font-size: 2rem;
          width: 85%;
        }
        p {
          color: grey;
          font-size: 1rem;
          line-height: 1.8rem;
          padding: 0.5rem 0px;
        }
      }
      button {
        text-transform: uppercase;
        font-size: 0.8rem;
        border: none;
        background-color: #cebd63;
        padding: 0.6rem 1rem;
        border-radius: 2rem;
        width: fit-content;
      }
    }
  }
  section#view6 {
    width: 100%;
    padding: 0rem 1.2rem;
    text-transform: uppercase;
    color: black;
    margin: 1rem 0rem;
    .bottom {
      background-color: #cebd63;
      border-radius: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 1.5rem 1.8rem;
      gap: 1rem;

      .text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        h2 {
          font-weight: 200;
          font-size: 2rem;
          width: 85%;
        }
        p {
          color: grey;
          font-size: 1rem;
          line-height: 1.8rem;
          padding-bottom: 0.5rem;
        }
      }
      button {
        align-self: flex-end;
        width: 100%;
        text-transform: uppercase;
        font-size: 0.8rem;
        border: none;
        padding: 1rem 0;
        border-radius: 0.5rem;
        font-weight: bold;
        margin-top: 1rem;
        color: white;
        background-color: black;
        i {
          font-weight: normal;
          padding: 5px;
        }
      }
    }
  }
  section#view7 {
    width: 100%;
    margin: 1rem 0rem;
    padding: 0rem 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    gap: 0.8rem;
    .aside {
      padding: 2rem;
      background-color: #282828;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5rem;
      .logos {
        i {
          background: rgba(95, 95, 95, 0.306); /* translucent layer */
          backdrop-filter: blur(10px); /* glass-like blur effect */
          padding: 0.8rem;
          border: 0.5px solid rgba(194, 194, 194, 0.314);
          border-radius: 50%;
        }
      }
    }
    .mid {
      background-color: #282828;
      border-radius: 0.5rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: grey;
        padding-top: 1.2rem;
        font-size: 0.8rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      .pages {
        display: flex;
        flex-direction: column;
        button {
          text-transform: uppercase;
          font-size: 0.8rem;
          border: none;
          padding: 1rem 1.8rem;
          border-radius: 0.5rem;
          font-weight: bold;
          margin-top: 1rem;
          color: rgb(0, 0, 0);
          background-color: #cebd63;
          width: fit-content;
        }
      }
      .cms {
        display: flex;
        flex-direction: column;
      }
      .utility {
        display: flex;
        flex-direction: column;
      }
    }
    .bottom {
      background-color: #282828;
      border-radius: 0.5rem;
      font-size: 0.6rem;
      padding: 2rem;
      text-align: center;
      text-transform: uppercase;
      h2 {
        color: grey;
        a {
          color: white;
        }
      }
    }
  }

  @media (min-width: 900px) {
    section#view1 {
      flex-direction: row;
      .top,
      .bottom {
        width: 100%;
      }
    }
    section#view2 {
      flex-direction: row;
      justify-content: space-evenly;
      .top,
      .bottom {
        width: 100%;
      }
      .top {
        padding-right: 0px;
      }
      .bottom {
        padding-left: 0px;
      }
    }
    section#view3 {
      flex-direction: row-reverse;
      .top,
      .bottom {
        width: 50%;
      }
    }
    section#view4 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
    }
    section#image-cards {
      flex-direction: row;
    }
    section#view5 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
    }
    section#view6 {
      .bottom {
        flex-wrap: nowrap;
        align-items: stretch;

        .text {
          h2 {
            font-size: 4rem;
          }
        }
        button {
          width: 20rem;
          height: 50px;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
