* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(231, 228, 228);
  font-family: sans-serif;
}

section#view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}
section#view1 .top {
  width: 100%;
}
section#view1 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
section#view1 .bottom {
  border-radius: 0.5rem;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.8rem;
  gap: 3.5rem;
}
section#view1 .bottom .text h2 {
  font-weight: 200;
  font-size: 2.5rem;
}
section#view1 .bottom .text p {
  color: grey;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 1.5rem 0rem;
}
section#view1 .bottom .text button {
  border: none;
  background-color: rgb(240, 240, 156);
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
section#view1 .bottom > p,
section#view1 h2,
section#view1 button {
  text-transform: uppercase;
}

section#view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}
section#view2 .top,
section#view2 .bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
}
section#view2 .top p,
section#view2 .bottom p {
  font-size: 1rem;
}
section#view2 .top h2,
section#view2 .bottom h2 {
  font-size: 2rem;
}
section#view2 .top p,
section#view2 .top h2,
section#view2 .bottom p,
section#view2 .bottom h2 {
  padding: 0.2rem;
}

section#view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}
section#view3 .top {
  width: 100%;
}
section#view3 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
section#view3 .bottom {
  border-radius: 0.5rem;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.8rem;
  gap: 3.5rem;
}
section#view3 .bottom .text h2 {
  font-weight: 200;
  font-size: 2rem;
}
section#view3 .bottom .text p {
  color: grey;
  font-size: 1rem;
  line-height: 1.7rem;
  padding-top: 1.5rem;
}
section#view3 .bottom > p,
section#view3 h2 {
  text-transform: uppercase;
}

section#view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.2rem 1rem;
}
section#view4 .top {
  width: 100%;
}
section#view4 .top img {
  width: 100%;
  border-radius: 0.5rem;
}
section#view4 .bottom {
  border-radius: 0.5rem;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.8rem;
  gap: 3.5rem;
}
section#view4 .bottom .text h2 {
  font-weight: 200;
  font-size: 2rem;
}
section#view4 .bottom .text p {
  color: grey;
  font-size: 1rem;
  line-height: 1.7rem;
  padding-top: 1.5rem;
}
section#view4 .bottom > p,
section#view4 h2 {
  text-transform: uppercase;
}

section#image-cards {
  width: 100%;
  padding: 1rem;
}
section#image-cards .img-section {
  width: 100%;
  background: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-1080.webp");
  background-size: contain;
  background-position: center;
}/*# sourceMappingURL=style.css.map */